<h5 class="mt-3 mb-3">{{ h5 }}:</h5>
<table class="table tabla_libro">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Autor</th>
        <th scope="col">Título del libro</th>
        <th scope="col">Editorial</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for libro in libros %}
        <tr>
            <th id="show_{{ libro.id }}" class="align-middle" scope="row">{{ libro.id }}</th>
            <td id="show_autor_{{ libro.id }}" class="align-middle show_autor">{{ libro.autor }}</td>
            <td id="show_libro_{{ libro.id }}" class="align-middle show_libro">{{ libro.libro }}</td>
            <td id="show_editorial_{{ libro.id }}" class="align-middle show_editorial">{{ libro.editorial }}</td>

            <td id="" class="align-middle">
                <button type="button" class="btn btn-info show_modal_update" data-bs-toggle="modal"
                        data-bs-target="#modalUpdate_{{ libro.id }}" title="Actualizar {{ libro.id }}"
                        id="update_{{ libro.id }}"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-danger delete_data" id="delete_{{ libro.id }}"
                        title="Eliminar {{ libro.id }}"><i class="bi bi-trash"></i></button>
                <input type="hidden" id="hidde_csrf_token_delete" value="{{ csrf_token }}">
                <input type="hidden" id="url_relative_eliminar" value="{% url 'eliminar' %}">
            </td>
        </tr>

        <!-- Modal para actualizar datos de los Libros-->
        {% include 'modals/form_actualizar.html' %}
    {% endfor %}
    </tbody>
</table>
